<a href="https://colab.research.google.com/github/vargas-luis/python_collab/blob/main/02_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1= 3.4
num2 =2.2
sum=num1+num2

print("la suma de {0} y {1} es {2}".format(num1, num2, sum))

la suma de 3.4 y 2.2 es 5.6

In [ ]:
for i in range (1,10):
  print(i);
  if i == 6:
    break;

1
2
3
4
5
6

In [ ]:
num1, num2, name = 3.4, 2.3, "JUNA"
print(num1)
print(num2)
print(name)

3.4
2.3
JUNA

In [1]:
string = '''Multiple
line
string''';
print(string);

Multiple
line
string